<form class="form-inline" action="" method="get">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Filters</legend>

        {% for filter in viewer.filters %}
            <div class="form-group">
                <label class="sr-only" for="username">{{ filter.title }}</label>
                <input value="" name="{{ filter.name }}" type="{{ filter.formType }}" class="form-control col-xs-2" id="{{ filter.name }}" placeholder="{{ filter.title }}">
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Filter</button>
        <a href="#" class="btn btn-info">Reset</a>
    </fieldset>
    <div class="clearfix"></div>
</form>